.hero {
  background-image: url("../../images/hero-image.svg");
  height: 576px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  color: white;
  font-family: "roboto-slab";
  font-weight: 400;
  font-size: 60px;
  line-height: 1.06;
  max-width: 608px;
  margin: 0 0 32px 0;
}

.hero__description {
  font-family: "roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0px;
  color: white;
  margin: 0;
}

.news {
  background-color: #f5f6f7;
  padding: 80px 0 0 104px;
  display: flex;
  flex-direction: column;
}

.news_type_hidden {
  display: none;
}

.news__results {
  font-family: "roboto-slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  margin: 0 0 64px 0;
}

.news__more-btn {
  width: 288px;
  height: 64px;
  border: none;
  background-color: #e8e8e8;
  border-radius: 80px;
  align-self: center;
  margin: 56px 0 80px 0;
  font-family: "roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.333;
}

@media screen and (max-width: 768px) {
  .hero {
    align-items: flex-start;
    justify-content: start;
    height: 400px;
  }
  .hero__title {
    font-size: 36px;
    line-height: 1.11;
    margin: 104px 0 0 160px;
    max-width: 385px;
  }
  .hero__description {
    margin: 16px 0 0 160px;
    max-width: 452px;
  }

  .news {
    padding: 40px 40px;
  }

  .news__results {
    font-size: 30px;
    line-height: 1.133;
  }

  .news__more-btn {
    width: 240px;
    height: 56px;
    margin: 32px 0 0 0;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    height: 536px;
    width: 320px;
  }
  .hero::before {
    height: 536px;
  }
  .hero__title {
    margin: 86px 16px 0 19px;
  }
  .hero__description {
    margin: 16px;
  }
  .news {
    padding: 32px 16px 16px 16px;
  }
}
