.hero {
  background-image: url("https://s3-alpha-sig.figma.com/img/dac0/778e/82f1206f112335e2ee4d938ba64f02d6?Expires=1743984000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=DYKgyq3yNvNNGWezrbDqOP7h0VcItxLgAOuntx2YSDEJaK2RmikMfbSG8wjgIKNfDHnA7cVDkr69Bioa9Gr56Ye4EOy~-N~28L8E7C79gZX3AceCYdbEKRLB8x9xqeMZTvm9SDfhugPRFZ~peOjh4OIYzv~FunBp5HJzRiWRJlsguvB~dkFXv-vpnYoJ7axHL1t5whoJioBWO5gTNiHIuZA4H7siQVgLi2~wUUhxFmJCO1kpDovyGuOl4VWwqJwwBqJX~L1oMW1al9YLvDH7MWsY5KMf3YruQk~IT55nGD8Pm8A10Ib5LWIAHl5CKTZPbCpuR-zAdO5QH7RnkiyjDQ__");
  height: 576px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 576px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* This creates a semi-transparent black overlay */
}

.hero__title,
.hero__description {
  position: relative;
  z-index: 1;
}

.hero__title {
  color: white;
  font-family: "roboto-slab";
  font-weight: 400;
  font-size: 60px;
  line-height: 1.06;
  max-width: 608px;
  margin: 0 0 32px 0;
}

.hero__description {
  font-family: "roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0px;
  color: white;
  margin: 0;
}

.news {
  background-color: #f5f6f7;
  padding: 80px 0 0 104px;
  display: flex;
  flex-direction: column;
}

.news__results {
  font-family: "roboto-slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  margin: 0 0 64px 0;
}

.news__more-btn {
  width: 288px;
  height: 64px;
  border: none;
  background-color: #e8e8e8;
  border-radius: 80px;
  align-self: center;
  margin: 56px 0 80px 0;
  font-family: "roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.333;
}

@media screen and (max-width: 768px) {
  .hero {
    align-items: flex-start;
    justify-content: start;
    height: 400px;
  }
  .hero::before {
    height: 400px;
  }
  .hero__title {
    font-size: 36px;
    line-height: 1.11;
    margin: 104px 0 0 160px;
    max-width: 385px;
  }
  .hero__description {
    margin: 16px 0 0 160px;
    max-width: 452px;
  }

  .news {
    padding: 40px 40px;
  }

  .news__results {
    font-size: 30px;
    line-height: 1.133;
  }

  .news__more-btn {
    width: 240px;
    height: 56px;
    margin: 32px 0 0 0;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 320px) {
  .hero {
    height: 536px;
    width: 320px;
  }
  .hero::before {
    height: 536px;
  }
  .hero__title {
    margin: 86px 16px 0 19px;
  }
  .hero__description {
    margin: 16px;
  }
  .news {
    padding: 32px 16px 16px 16px;
  }
}
