.search-form {
  margin-top: 88px;
  position: relative;
  border: none;
}

.search-form__input {
  width: 608px;
  height: 64px;
  border-radius: 100px;
  border: none;
  box-sizing: border-box;
  padding-left: 24px;
  font-family: "roboto";
  font-size: 16px;
  line-height: 1.375;
  outline: none;
}

.search-form__input::placeholder {
  color: #b6bcbf;
}

.search-form__button {
  height: 64px;
  width: 168px;
  position: absolute;
  top: 0;
  right: 0;
  font-family: "roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  background-color: #2f71e5;
  border: none;
  border-radius: 100px;
}

.search-form__button:hover {
  background-color: #347eff;
  cursor: pointer;
}

.search-form__button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .search-form {
    margin-top: 48px;
  }
  .search-form__input {
    margin-left: 160px;
    width: 452px;
    height: 56px;
  }
  .search-form__button {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 320px) {
  .search-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }

  .search-form__input {
    width: 100%;
    margin-left: 0;
  }

  .search-form__button {
    position: static;
    width: 100%;
  }
}
