.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0 104px;
  gap: 0;
}

.footer__copywright {
  font-family: "roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #b6bcbf;
  margin: 0;
}

.footer__links-container {
  display: flex;
  gap: 40px;
}

.footer__home-btn {
  border: none;
  background-color: white;
  font-family: "roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
  padding: 0;
}

.footer__tripleten-btn {
  border: none;
  background-color: white;
  font-family: "roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
  padding: 0;
}

.footer__social-links {
  display: flex;
  gap: 24px;
}

.footer__github-btn {
  width: 24px;
  height: 24px;
  background-image: url("../../images/github-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: white;
}

.footer__facebook-btn {
  width: 24px;
  height: 24px;
  background-image: url("../../images/iconmonstr-facebook-6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 20px 0 40px;
    height: 64px;
  }
}
