.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 0 104px;
  gap: 0;
}

.footer__copywright {
  font-family: "roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #b6bcbf;
  margin: 0;
}

.footer__home-container {
  display: flex;
  gap: 40px;
}

.footer__links-container {
  display: flex;
  gap: 40px;
}

.footer__home-btn {
  border: none;
  background-color: white;
  font-family: "roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
  padding: 0;
}

.footer__tripleten-btn {
  border: none;
  background-color: white;
  font-family: "roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
  padding: 0;
}

.footer__social-links {
  display: flex;
  gap: 24px;
}

.footer__github-btn {
  width: 24px;
  height: 24px;
  background-image: url("../../images/github-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: white;
}

.footer__facebook-btn {
  width: 24px;
  height: 24px;
  background-image: url("../../images/iconmonstr-facebook-6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 20px 0 40px;
    height: 64px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    height: auto; /* Remove fixed height */
    padding: 20px 16px; /* Add some padding */
    margin: 0; /* Reset margins */
    gap: 38px; /* Add space between stacked items */
  }

  .footer__links-container {
    flex-direction: row; /* Stack the links */
    justify-content: space-between;
    width: 100%;
    align-items: center; /* Center items horizontally */
    gap: 20px; /* Space between stacked links */
  }

  .footer__copywright {
    text-align: center; /* Center the copyright text */
    order: 1;
  }

  .footer__social-links {
    display: flex;
    align-self: start;
    gap: 24px;
  }
  .footer__home-container {
    flex-direction: column;
    gap: 20px;
  }
  .footer__home-btn {
    text-align: start;
  }
}
