.news-card {
  display: flex;
  flex-direction: column; /* Change from row to column */
  background: #fff;
  border-radius: 16px;
  margin-bottom: 16px;
  position: relative;
  width: 400px;
  height: 576px;
}

.news-card__link {
  text-decoration: none;
  color: black;
  height: 100%; /* Add this line */
  display: flex; /* Add this line */
  flex-direction: column;
}

.news-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 24px;
}

.news-card__main {
  flex-grow: 1;
}

.news-card__image {
  width: 100%;
  height: 272px;
  border-radius: 16px 16px 0 0;
}

.news-card__date {
  font-size: 18px;
  color: #b6bcbf;
  font-family: "inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
}

.news-card__title {
  font-size: 26px;
  line-height: 1.15;
  font-family: "roboto-slab";
  font-weight: 400;
  margin: 12px 0 16px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-card__description {
  font-size: 16px;
  line-height: 1.375;
  font-family: "roboto";
  font-weight: 400;
  margin: 0;
}

.news-card__source {
  color: #b6bcbf;
  margin: 18px 0 24px 0;
  font-family: "roboto-slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  align-self: baseline;
}

.news-card__save-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-card__save-btn:hover {
  background-image: src("../../images/bookmark-hover.svg");
}
